<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Hello world!, you searched for : <%= data.userQuery %> <% if(data.loggedIn){
    %>
    <h2>You are logged in as: <%= data.userName %></h2>
    <% } %>
    <ul>
      <% data.searchResults.forEach(result=>{ %>
      <li><%= result %></li>
      <% });%>
    </ul>
  </body>
</html>
